<!-- TODO center text horizontally and vertically and style color white -->
<section class="section-1">
    <div>
        <h1 class="content-text">LandGate Test</h1>
    </div>
</section>
<section class="section-2">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let resource of resources">
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <img [src]="resource.img">
          <h3>{{resource.label}}</h3>
          <p>{{resource.description}}</p>
          <a href="#">Learn more...</a>
        </div>
      </div>
    </div>
  </div>
</section>
